body {
  font-family: 'Ubuntu';
  font-size: 1.3rem;
  text-align: center;
}
section {
  display: inline-flex;
}
p {
  margin: 0;
}

/*! Change the path to an individual file */
button {
  color: #fff;
  background-color: #5e4c7f;
  border: none;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Main section container for service actions */
.service_actions-container {
  display: inline-flex;
  gap: 2rem;
  margin-top: 3rem;
  justify-content: center;
  background-color: #a7a4ab;
  padding: 2rem 1rem;
  border-radius: 0.7rem;
}

/* Text input from the form in services actions */
#form_remove-input {
  padding: 0.9rem 0.7rem;
  border: 0.1rem solid #f6f6f6;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  font-weight: normal;
}
#form_remove-input:focus {
  outline: none;
}


/*! This is optional | navbar application as a test */
.navbar {
  width: 100%;
  height: 2.3rem;
}
#navbar-notification_center {
  justify-content: start;
  padding: 0.5rem 1.2rem;
  width: 100%;
  height: 100%;
}
#navbar-notification_center.error {
  color: rgb(144, 63, 63);
}
#navbar-notification_center.success {
  color: rgb(60, 139, 60);
}